body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
    width: 1280px;
    height: 1399px;
}

.all {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    padding: 0px 0px 0px 0px;
    margin: 40px 40px 40px 40px;
}
/* main */
.main {
margin: 142px 99px 40px 0px ;
}

.main__head {
  
}

.main__projects {
   
}

.main__work {
 
}

.main__education {

}
/* end main */
/* right s */
.aside {
    background-color: #1E2939;
    margin: 40px 88px 40px 40px;
    width: 370px;
    height: auto;
    color:white;
}

.aside__img {
    margin: 40px 0px 0px 0px;

}
.aside__all{
    padding: 0px auto;
 text-align: center;
}
.aside__h3{
    Font-style: Bold;
Font-size: 22px;
Line-height: 27px;
Line-height: 100%;
text-Align: Left;
Vertical-align: Top;

}
.aside__contacts{
    margin: 51px 147px 47px 40px;
}
.aside__techskill{
    padding: 0;
    margin-left: 17px;
}
.aside__contacts, 
.aside__techskill,
.aside__softskill {
    margin: 0 0 0 40px;
}
span {
    Font-style: Bold;
Font-size: 14px;
Line-height: 24px;
Line-height: 141%;
text-Align: Left;
Vertical-align: Top;
}
li{
    Font-style: Regular;
Font-size: 14px;
Line-height: 24px;
Line-height: 141%;
text-Align: Left;
Vertical-align: Top;
}
.aside__link{
color: white;
}
.aside__li{
color:orange;
}
.aside__li-text{
color:white;
}
/* end right */
